<div class="container mx-auto" style="max-width: 640px">
  <% if notice -%>
    <div class="alert alert-info" id="notice"><%= notice %></div>
  <% end %>

  <h1 class="mb-4">Lihat Data Kelas</h1>

  <p class="py-2">
    <strong>Nama:</strong>
    <%= @kelas.nama %>
  </p>

  <p class="py-2">
    <strong>Prodi:</strong>
    <%= @kelas.prodi.nama %>
  </p>

  <div class="mt-4">
    <%= link_to kelas_index_path, class: "btn btn-primary" do %>
      <i class="fas fa-arrow-left"></i> Kembali
    <% end %>
    <%= link_to edit_kelas_path(@kelas), class: "btn btn-primary" do %>
      <i class="fas fa-pencil-alt"></i> Ubah
    <% end %>
  </div>
</div>