<div class="container mx-auto" style="max-width: 640px">
  <% if notice -%>
    <div class="alert alert-info" id="notice"><%= notice %></div>
  <% end %>

  <h1 class="mb-4">Lihat Data Mata Kuliah</h1>

  <p class="py-2">
    <strong>Nama:</strong>
    <%= @mata_kuliah.nama %>
  </p>

  <p class="py-2">
    <strong>Prodi:</strong>
    <%= @mata_kuliah.prodi.nama %>
  </p>

  <p class="py-2">
    <strong>Sks:</strong>
    <%= @mata_kuliah.sks %>
  </p>

  <p class="py-2">
    <strong>Semester:</strong>
    <%= @mata_kuliah.semester %>
  </p>

  <div class="mt-4">
    <%= link_to mata_kuliahs_path, class: "btn btn-primary" do %>
      <%= octicon "arrow-left", class: "inline-block" %> Kembali
    <% end %>
    <%= link_to edit_mata_kuliah_path(@mata_kuliah), class: "btn btn-primary" do %>
      <%= octicon "pencil", class: "inline-block" %> Ubah
    <% end %>
  </div>
</div>