<%= bootstrap_form_with(model: prodi) do |form| %>
  <% if prodi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prodi.errors.count, "error") %> prohibited this prodi from being saved:</h2>

      <ul>
        <% prodi.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :nama %>

  <div class="actions">
    <%= form.primary %>
  </div>
<% end %>
