<h1 class="mb-4">Prodis</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nama</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prodis.each do |prodi| %>
      <tr>
        <td><%= prodi.nama %></td>
        <td><%= link_to 'Show', prodi %></td>
        <td><%= link_to 'Edit', edit_prodi_path(prodi) %></td>
        <td><%= link_to 'Destroy', prodi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prodi', new_prodi_path %>
