<div class="container">
<% if notice -%>
  <div class="alert alert-info" id="notice"><%= notice %></div>
<% end %>

  <h1 class="mb-4">Data Prodi</h1>

  <table class="table bg-white">
    <thead>
      <tr>
        <th class="border p-2 text-left">Nama</th>
        <th class="border p-2 text-left">Aksi</th>
      </tr>
    </thead>

    <tbody>
      <% @prodis.each do |prodi| %>
        <tr class="group border-t border-gray-400 hover:bg-gray-100">
          <td class="p-3 border"><%= prodi.nama %></td>
  
          <td class="border px-2">
            <%= link_to "Lihat", prodi, class: "btn btn-primary" %>
            <%= link_to octicon("pencil", height: 24), edit_prodi_path(prodi), class: "btn btn-primary mx-0.5" %>
            <%= link_to octicon("trash"), prodi, method: :delete, data: { confirm: 'Hapus Prodi ?' }, class: "btn btn-danger", remote: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @prodis, class: "mt-2" %>

  <%= link_to 'Buat Prodi', new_prodi_path, class: "btn btn-primary mt-4" %>
</div>
