<div class="flex h-screen mx-auto items-center max-w-sm">
  <div class="w-full p-4 border rounded">
    <h2 class="mb-4">Masuk kuesioner</h2>
    <%= bootstrap_form_with(model: resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <% if alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>
      <%= f.text_field :username, autofocus: true, autocomplete: "email" %>
      <%= f.password_field :password, autocomplete: "current-password" %>
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
      <% end %>
      <%= f.primary "Log in" %>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
