<div class="container mx-auto" style="max-width: 640px">
  <% if notice -%>
    <div class="alert alert-info" id="notice"><%= notice %></div>
  <% end %>

  <h1 class="mb-4">Lihat Data Dosen</h1>

  <p class="py-2">
    <strong>Nidn:</strong>
    <%= @dosen.nidn %>
  </p>

  <p class="py-2">
    <strong>Nama:</strong>
    <%= @dosen.nama %>
  </p>

  <p class="py-2">
    <strong>Pendidikan:</strong>
    <%= @dosen.pendidikan %>
  </p>

  <div class="mt-4">
    <%= link_to dosens_path, class: "btn btn-primary" do %>
      <%= octicon "arrow-left", class: "inline-block" %> Kembali
    <% end %>
    <%= link_to edit_dosen_path(@dosen), class: "btn btn-primary" do %>
      <%= octicon "pencil", class: "inline-block" %> Ubah
    <% end %>
  </div>
</div>