<%= bootstrap_form_with(model: mahasiswa, local: true, class: "mb-4") do |form| %>

  <%= form.telephone_field :npm, maxlength: 14, pattern: "[0-9]+" %>
  <%= form.fields_for :user do |f| %>
    <%= f.text_field :username %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  <% end %>
  <%= form.text_field :nama, maxlength: 48, required: true %>
  <%= form.select :prodi_id, Prodi.pluck(:nama, :id), required: true %>
  <%= form.select :kelas_id, Kelas.pluck(:nama, :id), required: true %>

  <div class="actions">
    <%= form.primary %>
  </div>
<% end %>
