<div class="container mx-auto" style="max-width: 640px">
  <h1 class="mb-4">Mengedit Mahasiswa</h1>

  <%= render 'form', mahasiswa: @mahasiswa %>

  <%= link_to mahasiswas_path, class: "btn btn-primary" do %>
    <%= octicon "arrow-left", class: "inline-block" %> Kembali
  <% end %>
  <%= link_to @mahasiswa, class: "btn btn-primary" do %>
    <%= octicon "eye", class: "inline-block" %> Lihat
  <% end %>
</div>
