<div class="container max-w-full">
<% if notice -%>
  <div class="alert alert-info" id="notice"><%= notice %></div>
<% end %>

  <h1 class="mb-4">Data Mahasiswa</h1>

  <%= link_to 'Tambah Mahasiswa', new_mahasiswa_path, class: "btn btn-primary mb-4" %>

  <table class="table bg-white w-full">
    <thead>
      <tr>
        <th class="border p-2 text-left">NPM</th>
        <th class="border p-2 text-left">Nama</th>
        <th class="border p-2 text-left">Prodi</th>
  
        <th class="border p-2 text-left w-1 whitespace-nowrap">Aksi</th>
      </tr>
    </thead>

    <tbody>
      <% @mahasiswas.each do |mahasiswa| %>
        <tr class="group hover:bg-gray-100">
            <td class="p-3 border"><%= mahasiswa.npm %></td>
            <td class="p-3 border"><%= mahasiswa.nama %></td>
            <td class="p-3 border"><%= mahasiswa.prodi.nama %></td>
  
          <td class="border px-2 w-1 whitespace-nowrap">
            <%= link_to mahasiswa, class: "btn btn-primary" do %>
              <i class="fas fa-eye"></i>
            <% end %>
            <%= link_to edit_mahasiswa_path(mahasiswa), class: "btn btn-primary mx-0.5" do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to mahasiswa, method: :delete, data: { confirm: 'Hapus Mahasiswa ?' }, class: "btn btn-danger" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @mahasiswas, class: "mt-2" %>
</div>
