<div class="container mx-auto" style="max-width: 640px">
  <% if notice -%>
    <div class="alert alert-info" id="notice"><%= notice %></div>
  <% end %>

  <h1 class="mb-4">Lihat Data Mahasiswa</h1>

  <p class="py-2">
    <strong>NPM:</strong>
    <%= @mahasiswa.npm %>
  </p>

  <p class="py-2">
    <strong>Nama:</strong>
    <%= @mahasiswa.nama %>
  </p>

  <p class="py-2">
    <strong>Prodi:</strong>
    <%= @mahasiswa.prodi.nama %>
  </p>

  <p class="py-2">
    <strong>Kelas:</strong>
    <%= @mahasiswa.kelas.nama %>
  </p>

  <div class="mt-4">
    <%= link_to mahasiswas_path, class: "btn btn-primary" do %>
      <i class="fas fa-arrow-left"></i> Kembali
    <% end %>
    <%= link_to edit_mahasiswa_path(@mahasiswa), class: "btn btn-primary" do %>
      <i class="fas fa-pencil-alt"></i> Ubah
    <% end %>
  </div>
</div>