<div class="container">
<% if notice -%>
  <div class="alert alert-info" id="notice"><%= notice %></div>
<% end %>

  <h1 class="mb-4">Data Tahun Akademik</h1>

  <table class="table bg-white">
    <thead>
      <tr>
          <th class="border p-2 text-left">Tahun</th>
          <th class="border p-2 text-left">Semester</th>
  
        <th>Aksi</th>
      </tr>
    </thead>

    <tbody>
      <% @tahun_akademiks.each do |tahun_akademik| %>
        <tr class="group hover:bg-gray-100">
            <td class="p-3 border"><%= tahun_akademik.tahun %></td>
            <td class="p-3 border"><%= tahun_akademik.semester %></td>
  
          <td class="border px-2">
            <%= link_to "Lihat", tahun_akademik, class: "btn btn-primary" %>
            <%= link_to octicon("pencil", height: 24), edit_tahun_akademik_path(tahun_akademik), class: "btn btn-primary mx-0.5" %>
            <%= link_to octicon("trash"), tahun_akademik, method: :delete, data: { confirm: 'Hapus Tahun Akademik ?' }, class: "btn btn-danger", remote: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Buat Tahun Akademik', new_tahun_akademik_path, class: "btn btn-primary" %>
</div>
