<div class="container mx-auto" style="max-width: 640px">
  <% if notice -%>
    <div class="alert alert-info" id="notice"><%= notice %></div>
  <% end %>

  <h1 class="mb-4">Lihat Data Tahun Akademik</h1>

  <p class="py-2">
    <strong>Tahun:</strong>
    <%= @tahun_akademik.tahun %>
  </p>

  <p class="py-2">
    <strong>Semester:</strong>
    <%= @tahun_akademik.semester %>
  </p>

  <div class="mt-4">
    <%= link_to tahun_akademiks_path, class: "btn btn-primary" do %>
      <i class="fas fa-arrow-left"></i> Kembali
    <% end %>
    <%= link_to edit_tahun_akademik_path(@tahun_akademik), class: "btn btn-primary" do %>
      <i class="fas fa-pencil-alt"></i> Ubah
    <% end %>
  </div>
</div>