<div class="container">
<% if notice -%>
  <div class="alert alert-info" id="notice"><%= notice %></div>
<% end %>

  <h1 class="mb-4">Data Item Kuesioner</h1>

  <table class="table bg-white">
    <thead>
      <tr>
          <th class="border p-2 text-left">Kategori kuesioner</th>
          <th class="border p-2 text-left">pertanyaan</th>
  
        <th>Aksi</th>
      </tr>
    </thead>

    <tbody>
      <% @item_kuesioners.each do |item_kuesioner| %>
        <tr class="group hover:bg-gray-100">
            <td class="p-3 border"><%= item_kuesioner.kategori_kuesioner.nama %></td>
            <td class="p-3 border"><%= item_kuesioner.pertanyaan %></td>
  
          <td class="border px-2">
            <%= link_to "Lihat", item_kuesioner, class: "btn btn-primary" %>
            <%= link_to octicon("pencil", height: 24), edit_item_kuesioner_path(item_kuesioner), class: "btn btn-primary mx-0.5" %>
            <%= link_to octicon("trash"), item_kuesioner, method: :delete, data: { confirm: 'Hapus Item Kuesioner ?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Buat Item Kuesioner', new_item_kuesioner_path, class: "btn btn-primary" %>
</div>
