<!DOCTYPE html>
<html>
  <head>
    <title>Kuesioner</title>
    <%= render "shared/head", cached: true %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="hold-transition layout-fixed layout-navbar-fixed sidebar-closed">
    <div class="wrapper">
      <%= render "shared/header", cached: true %>
      <%= render "shared/sidebar", cached: true %>
      <div class="content-wrapper">
        <%= yield %>
      </div>
    <div>
  </body>
</html>
